/*global */

body {
    font-family: 'Roboto', sans-serif;
    background: #FBFBFB;
    margin: 0;
    color:  #282D30;

}

.red {
    color:  #d11313
}

.darkRed {

}

.grey {
    color:  #7F7F7F;
}

.white {
    color: #ffffffd2;
}

.red-bg {
    background-color:  #FF0000;
}

.white-bg {
    background-color: #f5f5f5;
}

.dark-bg {
    background-color: #282D30;
}


/*nav top */
nav {
    height: 91px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* set margin-top to 0 */
}

nav ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

nav li {
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav img {
    height: 57px;

    position: relative;
    left: -22px;
}

/*nav left */
.navLeft-container {
    position: absolute;
    /* width: 117px; */
    height: 100vh;
    /* left: 0px; */
    top: 88px;
    z-index: -9;
    background: #020203;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
    position: relative;
    left: 0;
    top: 43%;
    transform: translateY(-50%);
    padding: 20px;
}

.navbar a {
    display: block;
    margin-bottom: 20px;
}

.navbar a img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.cr {
    color: #d8d8d8;
    transform: rotate(-90deg);
    left: -3px;
    bottom: 162px;
    width: max-content;
    position: absolute;
    font-size: 10px;
}

/*main*/

.intro {
    margin-bottom: 45px;
}

main {
    margin:60px; 
    margin-left: 177px;
}

h2 {
    padding-left: 30px;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.actquot {
    grid-area: actquot;
    display: flex;
    flex-direction: column;
}

.actquot line.recharts-cartesian-axis-line {
    display: none;
}

.recharts-cartesian-grid-horizontal line:first-child {
    display: none;
}

line.recharts-cartesian-axis-tick-line {
    display: none;
}

.actquot ul.recharts-default-legend {
    display: flex;
    width: max-content;
}
  
  

.cal {
    grid-area: cal;
}

.prot {
    grid-area: prot;
}

.session {
    grid-area: obj;
    display: flex;
    flex-direction: column;
   
}

.session h2 {
    color: rgba(255, 255, 255, 0.678); 
    
}

.session line.recharts-cartesian-axis-line {
    display: none;
}

.session .recharts-cartesian-axis-tick-value {
    fill:  rgba(255, 255, 255, 0.678); 
}
  
.radar {
    grid-area: radar;
}

.score {
    grid-area: score;
    flex-direction: column;
 
}

.score h2 {
    margin-bottom: 0px;
    width: 100%;
    margin-left: 40px;
}

.score #scoreNum {
    font-size: 30px;
    color: black;
    font-weight: bold;
}


.score tspan {

    font-weight: 300;
}



.lip {
    grid-area: lip;
}

.gluc {
    grid-area: gluc;
}


.charts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    grid-template-areas:
    "actquot actquot  actquot cal"
    "actquot actquot  actquot prot"
    "obj radar score gluc "
    "obj radar score lip ";

}


.charts-container > div {
    min-height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: unset;
}

.charts-container > .actquot {
    align-items: flex-start;
}

.charts-container > div > img {
    width:60px; 
    height: 60px;
}
  
.right-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
}

.right-text p {
    margin: 0px; 
    color: #74798C;
    font-size: 14px;
}

.right-text span {
    font-weight: 700;
    font-size: 20px;
}


/* rechart */

.recharts-text {
    font-family: 'Roboto', sans-serif;
  }

  [role=dialog]{
    outline: none;
}

/* activité quotidienne */



/* Remove fixed width and height from .container */
.container {
    max-width: 100%;
  }
  
  /* Add media query to adjust .container padding */
  @media only screen and (max-width: 768px) {
    .container {
      padding: 0;
    }
  }
  
  /* Add media query to make .card-container elements stack vertically */
  @media only screen and (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  /* Add media query to make .card elements full width */
  @media only screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
  
  /* Add media query to adjust font size for small screens */
  @media only screen and (max-width: 768px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 1.2rem;
    }
  }